@forward "variables";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@mixin underline {
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    border: 2px solid $text-light-green;
    border-radius: 2px;
    box-sizing: border-box;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: all 0.15s ease;
    transform-origin: top left;
    transition: all 0.15s ease;
    opacity: 0;
  }
  &:hover {
    cursor: pointer;
  }

  &:hover::after {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f2fffa;
}

html {
  scroll-behavior: smooth;
}
